body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.categories li {
  list-style: none;
  width: 160px;
}

.categories li button {
  background: none;
  border: none;
  font-size: 16px;
}

.categories li button:focus,
.categories li button:hover,
.categories li button:selected {
  text-decoration: underline;
}

.selected {
  font-weight: bold;
  text-decoration: underline;
}